<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bundleid</key>
    <string>com.mbp.alfred.flowmodoro</string>
    <key>category</key>
    <string>Productivity</string>
    <key>connections</key>
    <dict>
        <key>FLOWMODORO_FILTER</key>
        <array>
            <dict>
                <key>destinationuid</key>
                <string>FLOWMODORO_RUN</string>
                <key>modifiers</key>
                <integer>0</integer>
                <key>modifiersubtext</key>
                <string></string>
                <key>vitoclose</key>
                <false/>
            </dict>
            <dict>
                <key>destinationuid</key>
                <string>81179198-894C-4830-B0F9-B5E5D0C528DE</string>
                <key>modifiers</key>
                <integer>0</integer>
                <key>modifiersubtext</key>
                <string></string>
                <key>vitoclose</key>
                <false/>
            </dict>
        </array>
        <key>FLOWMODORO_RUN</key>
        <array>
            <dict>
                <key>destinationuid</key>
                <string>FLOWMODORO_NOTIFICATION</string>
                <key>modifiers</key>
                <integer>0</integer>
                <key>modifiersubtext</key>
                <string></string>
                <key>vitoclose</key>
                <false/>
            </dict>
        </array>
        <key>81179198-894C-4830-B0F9-B5E5D0C528DE</key>
        <array>
            <dict>
                <key>destinationuid</key>
                <string>37591F69-FC85-4E9C-A7EC-A933CD39012E</string>
                <key>modifiers</key>
                <integer>0</integer>
                <key>modifiersubtext</key>
                <string></string>
                <key>sourceoutputuid</key>
                <string>868418DA-3849-484F-8831-1F69E0BB6DAA</string>
                <key>vitoclose</key>
                <false/>
            </dict>
            <dict>
                <key>destinationuid</key>
                <string>37591F69-FC85-4E9C-A7EC-A933CD39012E</string>
                <key>modifiers</key>
                <integer>0</integer>
                <key>modifiersubtext</key>
                <string></string>
                <key>sourceoutputuid</key>
                <string>C6AB27EE-F483-47BD-9F19-6BC8BE780A0B</string>
                <key>vitoclose</key>
                <false/>
            </dict>
            <dict>
                <key>destinationuid</key>
                <string>37591F69-FC85-4E9C-A7EC-A933CD39012E</string>
                <key>modifiers</key>
                <integer>0</integer>
                <key>modifiersubtext</key>
                <string></string>
                <key>sourceoutputuid</key>
                <string>2C766E9F-3D12-4437-BE00-ADF2D5C4C10F</string>
                <key>vitoclose</key>
                <false/>
            </dict>
        </array>
        <key>37591F69-FC85-4E9C-A7EC-A933CD39012E</key>
        <array/>
    </dict>
    <key>createdby</key>
    <string>mbp</string>
    <key>description</key>
    <string>A flowtime stopwatch with earned breaks and Calendar logging.</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Flowmodoro</string>
    <key>objects</key>
    <array>
        <dict>
            <key>config</key>
            <dict>
                <key>alfredfiltersresults</key>
                <false/>
                <key>alfredfiltersresultsmatchmode</key>
                <integer>0</integer>
                <key>argumenttreatemptyqueryasnil</key>
                <false/>
                <key>argumenttrimmode</key>
                <integer>0</integer>
                <key>argumenttype</key>
                <integer>1</integer>
                <key>escaping</key>
                <integer>102</integer>
                <key>keyword</key>
                <string>fl</string>
                <key>queuedelaycustom</key>
                <integer>1</integer>
                <key>queuedelayimmediatelyinitially</key>
                <true/>
                <key>queuedelaymode</key>
                <integer>0</integer>
                <key>queuemode</key>
                <integer>2</integer>
                <key>runningsubtext</key>
                <string>Reading Flowmodoro state…</string>
                <key>script</key>
                <string>./flowmodoro.py filter "$1"</string>
                <key>scriptargtype</key>
                <integer>1</integer>
                <key>scriptfile</key>
                <string></string>
                <key>skipuniversalaction</key>
                <true/>
                <key>subtext</key>
                <string></string>
                <key>title</key>
                <string>Flowmodoro</string>
                <key>type</key>
                <integer>11</integer>
                <key>withspace</key>
                <true/>
            </dict>
            <key>type</key>
            <string>alfred.workflow.input.scriptfilter</string>
            <key>uid</key>
            <string>FLOWMODORO_FILTER</string>
            <key>version</key>
            <integer>3</integer>
        </dict>
        <dict>
            <key>config</key>
            <dict>
                <key>concurrently</key>
                <false/>
                <key>escaping</key>
                <integer>102</integer>
                <key>script</key>
                <string>./flowmodoro.py run "$1"</string>
                <key>scriptargtype</key>
                <integer>1</integer>
                <key>scriptfile</key>
                <string></string>
                <key>type</key>
                <integer>11</integer>
            </dict>
            <key>type</key>
            <string>alfred.workflow.action.script</string>
            <key>uid</key>
            <string>FLOWMODORO_RUN</string>
            <key>version</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>config</key>
            <dict>
                <key>lastpathcomponent</key>
                <false/>
                <key>onlyshowifquerypopulated</key>
                <true/>
                <key>removeextension</key>
                <false/>
                <key>text</key>
                <string>{query}</string>
                <key>title</key>
                <string>Flowmodoro</string>
            </dict>
            <key>type</key>
            <string>alfred.workflow.output.notification</string>
            <key>uid</key>
            <string>FLOWMODORO_NOTIFICATION</string>
            <key>version</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>config</key>
            <dict>
                <key>conditions</key>
                <array>
                    <dict>
                        <key>inputstring</key>
                        <string></string>
                        <key>matchcasesensitive</key>
                        <false/>
                        <key>matchmode</key>
                        <integer>0</integer>
                        <key>matchstring</key>
                        <string>start</string>
                        <key>outputlabel</key>
                        <string>Start Focus</string>
                        <key>uid</key>
                        <string>868418DA-3849-484F-8831-1F69E0BB6DAA</string>
                    </dict>
                    <dict>
                        <key>inputstring</key>
                        <string></string>
                        <key>matchcasesensitive</key>
                        <false/>
                        <key>matchmode</key>
                        <integer>0</integer>
                        <key>matchstring</key>
                        <string>break</string>
                        <key>outputlabel</key>
                        <string>End Focus for Break</string>
                        <key>uid</key>
                        <string>C6AB27EE-F483-47BD-9F19-6BC8BE780A0B</string>
                    </dict>
                    <dict>
                        <key>inputstring</key>
                        <string></string>
                        <key>matchcasesensitive</key>
                        <false/>
                        <key>matchmode</key>
                        <integer>0</integer>
                        <key>matchstring</key>
                        <string>reset</string>
                        <key>outputlabel</key>
                        <string>End Focus on Reset</string>
                        <key>uid</key>
                        <string>2C766E9F-3D12-4437-BE00-ADF2D5C4C10F</string>
                    </dict>
                </array>
                <key>elselabel</key>
                <string></string>
                <key>hideelse</key>
                <true/>
            </dict>
            <key>type</key>
            <string>alfred.workflow.utility.conditional</string>
            <key>uid</key>
            <string>81179198-894C-4830-B0F9-B5E5D0C528DE</string>
            <key>version</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>config</key>
            <dict>
                <key>inputmode</key>
                <integer>0</integer>
                <key>outputmode</key>
                <integer>0</integer>
                <key>shortcut</key>
                <string>Flowmodoro Focus</string>
            </dict>
            <key>type</key>
            <string>alfred.workflow.automation.runshortcut</string>
            <key>uid</key>
            <string>37591F69-FC85-4E9C-A7EC-A933CD39012E</string>
            <key>version</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>readme</key>
    <string>Type fl, then start, pause, break, or reset.</string>
    <key>uidata</key>
    <dict>
        <key>FLOWMODORO_FILTER</key>
        <dict>
            <key>xpos</key>
            <integer>120</integer>
            <key>ypos</key>
            <integer>120</integer>
        </dict>
        <key>FLOWMODORO_RUN</key>
        <dict>
            <key>xpos</key>
            <integer>360</integer>
            <key>ypos</key>
            <integer>120</integer>
        </dict>
        <key>FLOWMODORO_NOTIFICATION</key>
        <dict>
            <key>xpos</key>
            <integer>600</integer>
            <key>ypos</key>
            <integer>120</integer>
        </dict>
        <key>81179198-894C-4830-B0F9-B5E5D0C528DE</key>
        <dict>
            <key>xpos</key>
            <integer>360</integer>
            <key>ypos</key>
            <integer>280</integer>
        </dict>
        <key>37591F69-FC85-4E9C-A7EC-A933CD39012E</key>
        <dict>
            <key>xpos</key>
            <integer>600</integer>
            <key>ypos</key>
            <integer>280</integer>
        </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
        <dict>
            <key>config</key>
            <dict>
                <key>default</key>
                <string>Studying</string>
                <key>description</key>
                <string>Calendar that receives completed focus blocks</string>
                <key>label</key>
                <string>Calendar name</string>
                <key>required</key>
                <true/>
                <key>trim</key>
                <true/>
            </dict>
            <key>type</key>
            <string>textfield</string>
            <key>variable</key>
            <string>FLOWMODORO_CALENDAR</string>
        </dict>
    </array>
    <key>variables</key>
    <dict/>
    <key>version</key>
    <string>1.6.0</string>
    <key>webaddress</key>
    <string></string>
</dict>
</plist>
